# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
ui-preview.png
test-results/
playwright-report/
src-tauri/binaries/
src-tauri/icons/android/
src-tauri/icons/ios/
src-tauri/icons/icon.icns
src-tauri/icons/icon.png
src-tauri/icons/64x64.png

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
